@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
.gradientbg {

    background: linear-gradient(90deg, rgba(188.03, 0, 255,   0.24) 0%, rgba(77.27, 0, 255, 0.24) 50%, rgba(0, 56.67, 255, 0.24) 100%)

}

button:active{
    scale: 0.95;
}

.ud-primary-btn {
    padding: 15px 25px;
    color: black;
    border: 1px solid black;
    margin-right: 30px;
    border-radius: 5px;
}

.gradient-text-ai {
    background: linear-gradient(114deg, #9EFF00 26.62%, rgba(38, 180, 225, 0.85) 42.39%, rgba(174, 117, 219, 0.80) 61.26%, #FF9228 76.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ud-row{
    justify-content: space-between;
}



.ud-secondary-btn {
    padding: 15px 25px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.textgradient{
    background: linear-gradient(90deg, #D35DFD 0.01%, #9263FF 50.01%, #6A8BFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}



}