@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .showcase-1 {
        background: linear-gradient(82deg, #09f 0%, #9eff00 100%);

    }


.gradientbg {

    background: linear-gradient(90deg, rgba(188.03, 0, 255,   0.24) 0%, rgba(77.27, 0, 255, 0.24) 50%, rgba(0, 56.67, 255, 0.24) 100%)

}

button:active{
    scale: 0.95;
}

.showcase-2 {
    background: radial-gradient(70.71% 70.71% at 50% 50%, #C499E6 0%, rgba(255, 255, 255, 0.40) 100%);
    box-shadow: 0px 10px 50px -2.5px rgba(0, 0, 0, 0.10), 0px 2.28853px 11.4427px -1.66667px rgba(0, 0, 0, 0.10), 0px 0.60219px 3.01094px -0.83333px rgba(0, 0, 0, 0.10);
}

.showcase-1-btn{
    background: linear-gradient(270deg, #FF4FE3 0%, #000 100%);
}

.showcase-1-gradient-bottom{
background: linear-gradient(180deg, rgba(67, 179, 254, 0.00) 0%, #20A6FF 100%);
 width: calc(100% + 82px);

}

.showcase-3-width {
 width: calc(100% + 82px);

}

.showcase-3 {
background: linear-gradient(233deg, #FAFFC6 -19.83%, #E00 84.46%);
box-shadow: 0px 10px 50px -2.5px rgba(0, 0, 0, 0.10), 0px 2.28853px 11.4427px -1.66667px rgba(0, 0, 0, 0.10), 0px 0.60219px 3.01094px -0.83333px rgba(0, 0, 0, 0.10);
}

.showcase-percentage-first-gradient {
background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.20) 100%);
}






.ud-primary-btn {
    padding: 15px 25px;
    color: black;
    border: 1px solid black;
    margin-right: 30px;
    border-radius: 5px;
}



.gradient-text-ai {
    background: linear-gradient(114deg, #9EFF00 26.62%, rgba(38, 180, 225, 0.85) 42.39%, rgba(174, 117, 219, 0.80) 61.26%, #FF9228 76.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ud-row{
    justify-content: space-between;
}



.ud-secondary-btn {
    padding: 15px 25px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.textgradient{
    background: linear-gradient(90deg, #D35DFD 0.01%, #9263FF 50.01%, #6A8BFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}



}